# Comments are provided throughout this file to help you get started.
# If you need more help, visit the Docker Compose reference guide at
# https://docs.docker.com/go/compose-spec-reference/

# Here the instructions define your application as a service called "server".
# This service is built from the Dockerfile in the current directory.
# You can add other services your application may depend on here, such as a
# database or a cache. For examples, see the Awesome Compose repository:
# https://github.com/docker/awesome-compose
services:
  server:
    build:
      context: .
      dockerfile: ./server/Dockerfile
      target: development
    command: npm run dev
    environment:
      NODE_ENV: development
    env_file:
      - ./server/.env
    ports:
      - 3000:3000
    volumes:
      - ./server/src:/app/server/src
      - ./shared:/app/shared
    develop:
      watch:
        - action: sync
          path: ./server/src
          target: /app/server/src
        - action: sync
          path: ./shared
          target: /app/shared
        - action: rebuild
          path: ./server/package.json

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
      target: development
    command: npm run dev -- --host
    environment:
      NODE_ENV: development
    env_file:
      - ./client/.env
    ports:
      - "5173:5173"
    volumes:
      - ./client/src:/app/src
      - ./client/public:/app/public
      - ./client/index.html:/app/index.html
      - ./client/package.json:/app/package.json
      - ./client/vite.config.ts:/app/vite.config.ts
      - ./client/tailwind.config.ts:/app/tailwind.config.ts
      - ./client/tsconfig.json:/app/tsconfig.json
      - ./client/tsconfig.app.json:/app/tsconfig.app.json
      - ./client/tsconfig.node.json:/app/tsconfig.node.json
      - client_node_modules:/app/node_modules
    depends_on:
      - server

volumes:
  server_node_modules:
  client_node_modules:
# The commented out section below is an example of how to define a PostgreSQL
# database that your application can use. `depends_on` tells Docker Compose to
# start the database before your application. The `db-data` volume persists the
# database data between container restarts. The `db-password` secret is used
# to set the database password. You must create `db/password.txt` and add
# a password of your choosing to it before running `docker-compose up`.
#     depends_on:
#       db:
#         condition: service_healthy
#   db:
#     image: postgres
#     restart: always
#     user: postgres
#     secrets:
#       - db-password
#     volumes:
#       - db-data:/var/lib/postgresql/data
#     environment:
#       - POSTGRES_DB=example
#       - POSTGRES_PASSWORD_FILE=/run/secrets/db-password
#     expose:
#       - 5432
#     healthcheck:
#       test: [ "CMD", "pg_isready" ]
#       interval: 10s
#       timeout: 5s
#       retries: 5
# volumes:
#   db-data:
# secrets:
#   db-password:
#     file: db/password.txt

